*{
    margin: 0;
    box-sizing: border-box;
}


/*LOADER*/

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate2 {
	0% {
		transform: rotate(0deg);
		border-top-color: black;
	}
	50% {
		transform: rotate(180deg);
		border-top-color: blue;
	}
	100% {
		transform: rotate(360deg);
		border-top-color: black;
	}
}

.loader {
	position: relative;
	margin: 75px auto;
	width: 150px;
	height: 150px;
	display: block;
    overflow: hidden;
	
}

.loader div {
    height: 100%;
}

.loader3, .loader3 div {
	border-radius: 50%;
	padding: 8px;
	border: 2px solid transparent;
	animation: rotate linear 3.5s infinite;
    border-top-color: black;
    border-left-color: blue;
    
	animation-timing-function: cubic-bezier(.55, .38, .21, .88);
	animation-duration: 3s;
}

.loaderWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

/**/

h1 {
    font-family: fatfrank, sans-serif;
    font-weight: 400;
    /*font-size: 3.4em;*/
    font-size: calc(36px + (70-36)*(100vw - 1280px)/(2560-1280));
}

h2 {
    font-family: fatfrank, sans-serif;
    font-weight: 400;
    /*font-size: 3em;*/
    font-size: calc(32px + (64-32)*(100vw - 1280px)/(2560-1280));
}

h3 {
    font-family: soleil, sans-serif;
    font-weight: 700;
    /*font-size: 3em;*/
    font-size: calc(32px + (48-32)*(100vw - 1280px)/(2560-1280));
}

h4 {
    font-family: soleil, sans-serif;
    font-weight: 550;
    /*font-size: 1.6em;*/
    font-size: calc(21px + (27-21)*(100vw - 1280px)/(2560-1280));
}

h5 {
    font-family: soleil, sans-serif;
    font-weight: 400;
    font-size: 1.4em;
}

p{
    font-family: soleil, sans-serif;
    font-weight: 400;
    /*font-size: 1.4em;*/
    font-size: calc(16px + (16-20)*(100vw - 1280px)/(2560-1280));
}

body{
    overflow-x: hidden;
}

nav{
    height: 5.5em;
    display: fixed;
    
}

#navBar{
    background-color: white;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s ease-in-out; /* Transition effect when sliding down (and up) */
    align-items: center;
    display: flex;
    z-index: 3;
    height: 8vh;
    min-height: 65px;
    max-height: 95px;
    box-shadow: 0 0 20px rgba(124, 165, 255, 0.87);
}

/*NAVBAR ANIMATED LOGO*/
.navLogo {
    cursor: pointer;
    width: 21em;
    height: 60px;
    padding-left: 1em;
    position: absolute;
    margin: auto;
 }
  
.logoBox {
    font-family: "fatfrank", sans-serif;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #577188;
    color: rgb(24, 24, 24);
    font-size: 29px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    font-style: bold;
    position: absolute;
    left: 2%;
    z-index: 2;
}
  
/*:after creates line right of block*/
.logoBox:after {
    content: "";
    display: block;
    height: 0;
    width: 3px;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 0; right: -10px; bottom: 0;
    margin: auto;
}
  
.navLogoText {
    font-family: 'soleil', sans-serif;
    height: 60px;
    color: rgb(24, 24, 24);
    padding-left: 40px;
    line-height: 60px;
    font-size: 32px;
    font-weight: 120;
    letter-spacing: -2px;
    opacity: 0;
}
  
.boxAnimate:after{
    animation: lineExpand 1s;
    animation-fill-mode: forwards;
}
  
.textAnimate{  
    animation: textFadeMove 1.5s;
    animation-fill-mode: forwards;
}
  
  
@keyframes lineExpand {
    0% { height: 0; }
    40% { height: 0; }
    60% { height: 80%; }
    100% { height: 80%;}
}
  
@keyframes textFadeMove {
    0% { opacity: 0; }
    65% { opacity: 0; padding-left: 60px; }
    100% { opacity: 1; padding-left: 72px; }
}
/**/

#navLinks{
    width: 80%;
    display: inline-block;
    flex: 1;
    text-align: right;
    margin-right: 1em;

    font-family: fatfrank, sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}


#navLinks :visited{
    color: black;
}

#navLinks :hover {
    color: red
}

.navLink{
    margin: 0 .8em;
    cursor: pointer;
    text-decoration: none;
}

#top{
    height: 73vh;
    /*background-color: aquamarine;*/
    text-align: right;
}

#bigLogoContainer{
    position: absolute;
    display: block;
    top: 32%;
    left: 56%;
}

/*BIG LOGO ANIMATION*/
:root {
    --textColor: black;
    --colorPrimary: cornflowerblue;
    --colorSecondary: khaki;
    --logoSize: 19vw;
    --fontFamily: 'fatfrank', sans-serif;
    --animationSpeed: 90s;
  }
  
  .animationLogo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: var(--logoSize);
    height: var(--logoSize);
    color: var(--textColor);
    font-size: calc(var(--logoSize) * .65);
    font-weight: bold;
    font-family: var(--fontFamily);
    user-select: none;
  }
.animationLogo::after,
.animationLogo::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border-radius: calc(var(--logoSize) * .3);
    mix-blend-mode: color-dodge;
}

.animationLogo::before {
    background-color: var(--colorPrimary);
    transform: rotate(-30deg);
    z-index: -2;
    animation: rotate1 calc(var(--animationSpeed) * .4)linear infinite;
}

.animationLogo::after {
    background-color: var(--colorSecondary);
    transform: rotate(20deg);
    z-index: -1;
    animation: rotate2 calc(var(--animationSpeed) * .18) linear infinite;
}


@keyframes rotate1 {
from {
    transform: rotate(-30deg);
}
to {
    transform: rotate(330deg);
}
}

@keyframes rotate2 {
from {
    transform: rotate(380deg);
}
to {
    transform: rotate(20deg);
}
}



/**/

/*WORD ANIMATION*/

#animating {
    position: relative;
}

.word {
    position: absolute;
    width: 100%;
    opacity: 0;
    left: 0;
  }

.animationText{
    position: absolute;
    left: 20%;
    top: 42%;
    width: 50em;
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.animationText p{
    font-family: fatfrank, sans-serif;
    font-weight: 700;
    font-size: 2.8vw;
}

.letter {
    display: inline-block;
    position: relative;
    /*float: left;*/
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}
  
.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.letter.behind {
    transform: rotateX(-90deg);
}
  
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
    color: #8e44ad;
}
  
.belize {
    color: #2980b9;
}
  
.pomegranate {
    color: #c0392b;
}
  
.green {
    color: #16a085;
}



/**/

#experienceTitle{
    margin-left: 9%;
    margin-bottom: 1em;
}

.keireki{
 
    height: 34vw;
    max-height: 49em;
    position: relative;
}

.keireki h4{
    margin-top: 1.15em;
}

.keireki p{
    margin-top: 1.15em;
}

/*DETAILS ON LEFT || IMAGE ON RIGHT*/
.leftTitle{
    position: absolute;
    top: .35em;
    left: 5%;
    margin-bottom: .4em;
}

.textLeft{

    vertical-align: top;
    display: inline-block;
    padding-right: 1em;
    padding-left: 8%;
    padding-top: 5%;
    margin-right: 3%;
    background-color: transparent;
    width: 42%;
    height: 100%;
    z-index: 2;
    position: relative;
}

.imgRight{
    position: relative;
    margin-left: -8%;
    vertical-align: top;
    display: inline-block;
    width: 63%;
    height: 100%;
}

.rightTriangleShape{
    height: 100%;
}

#triangleRight {
    position: relative;
    height: 101%;
  }
  
/*DETAILS ON RIGHT || IMAGE ON LEFT*/
.rightTitle{
    position: absolute;
    padding-top: .35em;
    padding-right: 5%;
    margin-bottom: .4em;
}

.textRight{

    vertical-align: top;
    display: inline-block;
    
    padding-left: 3.5%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 3em;
    margin-left: 3%;
    background-color: transparent;
    width: 42%;
    height: 100%;
    z-index: 2;
    position: relative;
}

.imgLeft{
    position: relative;
    margin-right: -8%;
    vertical-align: top;
    display: inline-block;
    
    width: 63%;
    height: 100%;
}
  
.leftTriangleShape{
    height: 100%;
    margin-left: -1px;
}

#triangleLeft {
    position: relative;
    height: 101%;
    transform: scaleX(-1);
  }


/*BACKGROUND COLORS*/

#RIT .imgRight{
    background-color: #ee6f28;
}
#KUFS .imgLeft{
    background-color: #1459a6;
}
#concertTech .imgRight{
    background-color: #146926;
}
#researchAssistant .imgLeft{
    background-color: #F5BE01;
}


.logoImageRight{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-25%);
}

.logoImageLeft{
    position: absolute;
    height: 100%;
    right: 50%;
    transform: translateX(25%);
}




#skills{
    padding: 5em 20%;
    position: relative;
}

#skills ul{
    list-style-type: none;
    vertical-align: top;
    display: inline-block;
    width: 26%;
    margin-right: 7%;
}

#skills p{
    font-family: fatfrank, sans-serif;
    font-weight: 400;
    font-size: 2.3em;
    margin-left: -9%;
}

#skills li{
    font-family: soleil, sans-serif;
    font-weight: 540;
    font-size: 1.5em;
}

.skillsCategory{
    margin-top: 6%;
}






#projects{
    position: relative;
    padding-bottom: 5em;
}

#seniorCapstone{
    vertical-align: top;
    display: inline-block;
    padding-right: 4em;
    padding-left: 15%;
    padding-top: 5%;
    margin-bottom: 3em;
    margin-right: 3%;
    width: 100%;
}

#seniorCapstone h4{
    margin-top: 1.15em;
}

#seniorCapstone p{
    margin-top: 1.15em;
}

#seniorCapstoneText{
    display: inline-block;
    width: 40%;
    margin-right: 2em;
    padding: 1em 1em;
    vertical-align: middle;
}

#seniorCapstoneImage{
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

#capstoneImage{
    box-shadow: 0px 0px 20px #7e7e7e;
    width: 50%;
    border-radius: 10px;
}

#contact{
    background-color: red;
    height: 50vh;
}

#contactMe{
    display: inline-block;
    background-color: blueviolet;
    margin-left: 15%;
    width: 43%;
}

#contactMe a{
    font-family: 'soleil', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 450;
    color: black;
}

.contactLinks:visited{
    color: black;
    opacity: 75%;
}

.contactLinks:hover{
    opacity: 75%;
}

#contactLinkedin{
    display: inline-block;
    margin: 3em 0;
}

#contactEmail{
    display: inline-block;
    margin: 1em 0;
}

.contactLogo{
    width: 3em;
    transform: translateY(40%);
    margin-right: 0.25em;
}

#contactText{
    display: inline-block;
    background-color: blue;
    width: 10%;
}

footer{
    font-family: 'soleil', sans-serif;
    font-weight: 550;
    font-size: 16px;
}